.link {
   flex-basis: 100%;
}

.card {
   max-width: 350px;
   margin: 0 auto;
   width: 100%;
}

.img {
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center top;
   width: 100%;
   aspect-ratio: 3/4;
   border: 4px solid #FEE76E;
}

@media(min-width: 600px) {
   .link {
      flex-basis: calc(50% - 12px);
   }

   .card {
      max-width: unset;
   }
}

@media(min-width: 900px) {
   .link {
      flex-basis: calc(33.33% - 16px);
   }
}