@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;600;700&family=Noto+Sans&family=Water+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');

/* font-family: 'Lora', serif;
font-family: 'Raleway', sans-serif;
font-family: 'Water Brush', cursive; */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: 'Raleway', sans-serif;
}

.container {
  max-width: 1060px;
  margin: 0 auto;
}