.header {
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   padding: 60px 0;
}

.containerHeader {
   max-width: 400px;
   margin: 0 30px;
   padding: 35px 25px;
   background-color: #fff;
}

.title {
   font-family: 'Lora', serif;
   font-weight: 600;
   font-size: 3rem;
   margin-bottom: 15px;
}

.description {
   font-size: 1.4rem;
   line-height: 2rem;
   color: gray;
   margin-bottom: 10px;
}

.linkContainer {
   display: flex;
   flex-direction: column-reverse;
   justify-content: space-between;
   padding-top: 5px;
}

.link {
   width: fit-content;
   padding: 8px 12px;
   background-color: #FEE76E;
   border: none;
   color: black;
   text-decoration: none;
}

.cooking {
   display: flex;
   align-items: center;
   margin-bottom: 10px;
}

.icon {
   margin-right: 5px;
}

.section {
   padding: 60px 30px;
}

.recipes {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   gap: 30px 20px;
   justify-content: center;
   margin: 0 auto;
   max-width: 1000px;
}

@media(min-width: 350px) {
   .containerHeader {
      padding: 35px;
   } 

   .title {
      font-size: 3.5rem;
   }

   .linkContainer {
      flex-direction: row;
      align-items: center;
   }

   .cooking {
      margin-bottom: 0;
   }
}

@media(min-width: 600px) {
   .recipes {
      justify-content: flex-start;
   }
}

@media(min-width: 900px) {
   .recipes {
      gap: 40px 30px;
   }
}